html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #00867f;
}

body {
  padding-top: 50px;
  font-size: 1.6rem;
  color: #454545;
  font-family: "Open Sans", "Arial";
  min-height: 100vh;
  background: linear-gradient(138deg, #020024 0%, #05398c 20%, #00867f 100%);

  &.buff {
    background: linear-gradient(315deg, #ca5f21, #d25e00, #e6c718);
    background-size: 600% 600%;
    animation: BuffGlow 20s ease infinite;
  }
}

* {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  line-height: inherit;
}

ul {
  padding-left: 2rem;
}
