html {
  font-size: 62.5%;
  min-height: 100vh;
  box-sizing: border-box;
  background: #00867f;
  background: linear-gradient(138deg, rgba(2, 0, 36, 1) 0%, rgba(5, 57, 140, 1) 20%, rgba(0, 134, 127, 1) 100%);
}

body {
  margin-top: 50px;
  font-size: 1.6rem;
  color: #454545;
  font-family: "Open Sans", "Arial";
}

* {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
  line-height: inherit;
}

ul {
  padding-left: 2rem;
}
