.Cap {
  position: absolute;
  left: calc(50% - 18px);
  top: 21px;
  transform: none;
  opacity: 1;
  transition: 200ms ease-out;
  width: 35px;
  overflow: hidden;
}

.Fly {
  opacity: 0;
  &_1 {
    transform: translate(-150px, -150px) rotate(-154deg);
  }
  &_2 {
    transform: translate(-100px, -160px) rotate(-194deg);
  }
  &_3 {
    transform: translate(-50px, -170px) rotate(254deg);
  }
  &_4 {
    transform: translate(-15px, -150px) rotate(354deg);
  }
  &_5 {
    transform: translate(-220px, -123px) rotate(-243deg);
  }
  &_6 {
    transform: translate(20px, -202px) rotate(-163deg);
  }
  &_7 {
    transform: translate(72px, -160px) rotate(-243deg);
  }
  &_8 {
    transform: translate(123px, -180px) rotate(-243deg);
  }
  &_9 {
    transform: translate(175px, -100px) rotate(-243deg);
  }
  &_10 {
    transform: translate(182px, -169px) rotate(-243deg);
  }
  &_11 {
    transform: translate(200px, -90px) rotate(-243deg);
  }
}

.clicker {
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: none;
  user-select: none;
}

.Bottle {
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
  height: 300px;
  outline: none;
  &:hover {
    transform: scale(0.95);
  }
}
