.upgrades {
  display: flex;
  flex-wrap: wrap;

  &__upgrade {
    flex-basis: 1;
    color: #444;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    &:hover{
      background-color: #dedede;
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.3;
    }

    &.hidden{
      display: none;
    }
  }

}
